form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px;
    background-color: var(--gray);
    max-width: 300px;
    margin: 10vh auto 0;
    border-radius: 10px;
}

form input {
    outline: none;
    margin: 5px;
    border: 1px solid var(--gray);
    padding: 5px 8px;
    border-radius: 20px;
}